﻿@{
    ViewData["Title"] = "rainyCloud Web Interface - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter the details here...</p>
    <a href="/Home/Privacy"><button style="border-radius: 5px;">View Privacy Policies</button></a>
</div>
